html, body{
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}
.column { 
    float: left; 
    width: 25%;
}
.row:after { 
    content: "";
    display: table;
    clear: both;
}
.top{
    top: 0;
    width: 98%;
    z-index: 1;/* stack order of an index */
    padding: 10px 1px;

}
.bar{
    margin-top: 5px;
    color: #fff!important;
    background: linear-gradient(to bottom right, #1f4ac9 0%, #DA70D6 110%);
    /* background-color: rgb(37, 15, 160)!important; */
    padding: 8px 10px!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 98.5%;
    overflow: hidden;
    letter-spacing: 1px;
    vertical-align: middle;
    font-family: Verdana,sans-serif;
    font-size: 14px;
}
a.bar-item.button{ 
    color: #ffffff;
}
#block1{ 
    height: 300px; 
    background-color:white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 
    padding: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-family: Georgia;
    max-height: 350px;
}
#block2{ 
    height: auto; 
    background-color: grey; 
    background-color:white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: relative;
}
ul{ 
    display: inline-table;
    margin-top: -15;
}
ul[title]::before{ 
    content: attr(title); 
    font-weight: bold; 
    font-size: 25; 
    color: lightgrey; 
    margin-left: -30;
}
a:link{ 
    color: black;
    text-decoration: none; 
}
a:visited{ 
    color:black; 
    text-decoration: none;
}
a:hover{ 
    color: black; 
    text-decoration: underline;
}
a:active{ 
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}
/* div{ 
    display: block;
} */
.bar-item{
    padding: 8px;
    float: left;
    color: #000000;
    text-decoration: none;
}
.button{ 
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
/* .button:hover {
    border-color: white;
    color: white;
  } */

.top-right{ 
    float: right!important;
    
}
.name{
    font-size: 90;
    padding: 30px;
    text-align: center;
    margin-bottom: 5px;
    max-height: 90px;
}
.bio{
    font-family: "Ubuntu", sans-serif;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 30px;
    object-position: center;
    width: 900px; 
    font-size: 18;
    background-color: royalblue;
    color: white;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sections{
    position: absolute;
    top: 40%;
    width: 96%;
    padding: 15px;
}
.category{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.posts{
    overflow: scroll;
    height: 100%;
}
.section1{
    float: left;
    width: 26%;
    background-color: #E6E6FA;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px; 
}
.section2{
    float: left;
    width: 26%;
    background-color: lightgreen;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}
.section3{
    float: left;
    width: 26%;
    background-color:lightyellow;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}
h2{ 
    margin: 0; 
    padding: 0; 
}
h3{ 
    margin: 0; 
    padding: 0; 
}