html, body{
    /* height: 100%; */
    font-family: serif;
    font-size: 20px;
}
.column { 
    float: left; 
    width: 25%;
}
.row:after { 
    content: "";
    display: table;
    clear: both;
}

.top{
    top: 0;
    position: fixed;
    width: 95%;
    z-index: 1;/* stack order of an index */
    padding: 10px 15px;

}
.bar{
    color: #000;
    background-color: #fff;
    padding: 8px 10px!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 100%;
    overflow: hidden;
    letter-spacing: 2px;
    vertical-align: middle;
}
/* div{ 
    display: block;
} */
.bar-item{
    padding: 8px;
    float: left;
    color: #d54d7b;
    text-decoration: none;

}
.button{ 
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

}
.button:hover {
    background-color: #d54d7b;
    color: white;
  }
.top-right{ 
    float: right!important;
    
}
.name{
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 30;
    border: 2px solid black;
    padding: 35px;
    border-radius: 100px;
}
.bio{
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 18;
    background-color: pink;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sections{
    position: absolute;
    top: 40%;
    width: 96%;
    padding: 15px;
}
.category{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.posts{
    overflow: scroll;
    height: 100%;
}
.section1{
    float: left;
    width: 26%;
    background-color: #E6E6FA;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px; 
}
.section2{
    float: left;
    width: 26%;
    background-color: lightgreen;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}
.section3{
    float: left;
    width: 26%;
    background-color:lightyellow;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}